.navbar{
    background-color: white;
}

.first-color { 
    background: #ffffff; 
}
    
.second-color { 
    background: #08002ff3;
}

.third-color { 
    background: rgb(240, 240, 240);
}

.fourth-color { 
    background: #ffffff; 
}
.card-deck{
    margin: 2%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}
.card{
    padding: .5%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;

}
.attendance{
    display: inline-block;
    width: 22%;
    margin: 1%;
}
.report{
    display: inline-block;
    width: 30.5%;
    margin: 1%;
}
.course{
    display: inline-block;
    width: 46.5%;
    margin: 1%;
}
.text-muted{
    color: antiquewhite;
}
.card-title{
    font-weight: bold;
}