<!DOCTYPE html>
<html>
  <head>
    <title>Home</title> 
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="topnav">
        <a class="al" href="Home.php">Attendance</a>
        <div class="topnav-right"> 
            <a class="al" href="#">Home</a>
            <a class="al" href="#" >Application</a>
            <a class="al" href="#">Schedule</a>
            <a class="al" href="#">Payment</a>
            <a class="al" href="/login"><%= user %></a>
        </div>        
    </div>
    <div class="main-content">
        
    </div>
  </body>
</html>