<div class="container">
    <div class="card">
        <div class="imgBx">
            <img src="https://icon-library.com/images/attendance-icon/attendance-icon-24.jpg" alt="nike-air-shoe" style="height: 180px;width: 180px;">
        </div>
        <div class="contentBx">
            <h2><%= data.course_id %></h2>
            <div class="size">
                <h3>Date:</h3>
                <span><%= data.date_time %></span>
            </div>
            <div class="size">
                <h3>Slot:</h3>
                <span><%= data.slot %></span>
            </div>
            <!-- <div></div>
            <div></div> -->
            <a href=<%= data.url %>>PRESENT</a>
        </div>
    </div>
</div>